
  <section class="top-ten__list-container">
    <h2 class="top-ten__header">
      <%= heading %>
    </h2>
    <ul class="list-group top-ten__list">
      <% if category.empty? %>
          <li class="list-group-item">Oops! There are no <% plural %>. Add one?</li>
        <% else %>
          <% category.each do |item| %> 
            <li class="list-group-item">
            <h4>
              <%= link_to item.title, work_path(item.id) %>
              <small class='top-ten__creator'>by <%= item.creator %></small>
            </h4>
            <p><%= item.votes.count %> votes</p>
          </li>
          <% end %>
      <% end %>
      
      </ul>

  </section>