 <h2>List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><a href="/users/615">dee</a></td>
        <td>2</td>
        <td>May 13, 2020</td>
      </tr>
  </tbody>
</table>

<a class="btn btn-secondary" href="/">Back to Media List</a>
