<h2>Log In</h2>
<!-- TODO this whole form -->
<form action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="sXpEGgG4uMQ51sptDv6dgFqGW3Ha/hkIOLqH5L7yB0/lIeBf4THaUSAWTe+FOb3NzUgTKCI1g2fX1tSFg2M4fQ==" />
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" class="form-control" />
  </div>
  <div class="form-group">
    <input type="submit" name="commit" value="Log In" class="btn btn-primary" data-disable-with="Log In" />
  </div>
</form>
<article>
  <h4>A note about logging in</h4>
  <p>
    There is no password field. In fact, there is no indication whatsoever
    that you are who you say you are. There's nothing special about users -
    username is just another piece of data that the user entered and we have to keep
    track of.
  </p>

  <p>
    We'll learn more about security and authentication in the next couple weeks.
    For now, don't worry about it beyond what you can see here.
  </p>
</article>