/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */

// TODO - clean up and add commenting to styling

@import "bootstrap";

@import "**/*";

*,*::before,*::after {
  box-sizing: border-box
}

main {
  padding: 2rem
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

body,h1,h2,h3,h4,h5 {
  font-family: "Gudea", sans-serif
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff
}

b,strong {
  font-weight: bolder
}

@-ms-viewport {
  width: device-width;
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
  display: block;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem
}

.nav-link:hover,.nav-link:focus {
  text-decoration: none
}

.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem
}

.navbar a {
	color: #00796B;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center
}

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center
}

.user-votes__container {
  margin-top: 2rem
}

.user-votes__header {
  color: black
}

.works-votes__container {
  margin-top: 2rem
}

.works-votes__header {
  color: black
}



h1,h2,h3,h4,h5 {
  font-weight: bold
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

a,h2,h3 {
  color: #26A69A
}

a:hover {
  color: #00796B;
  text-decoration: none
}

.alert {
  margin: 0
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A
}

.btn:hover {
  background-color: #00796B;
  color: white
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent
}

.table th,.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6
}

.table tbody+tbody {
  border-top: 2px solid #dee2e6
}

.table .table {
  background-color: #fff
}


.table td {
  vertical-align: middle
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.app-header__nav_item {
  margin-top: 1rem
}

.app-header__nav_item .nav-link {
  color: #00796B
}

.app-header__site-nav-container .app-header__nav_item {
  margin-right: 2rem
}

.app-header__user-nav-container .nav-item {
  margin-left: 2rem
}

.list-group-item {
  border: none
}

.app-header__header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
  text-align: center;
}

.app-header__header h1 {
  font-size: 2.5rem;
	font-weight: 700;
  margin: 25px auto 40px auto
}

.app-header__header h1 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid
}

.app-header__header h1 small {
  color: white
}

.app-header__header p {
  margin-bottom: 5px
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alert__container {
  margin: 2rem 0 1rem 0
}

.spotlight {
  padding: 0 2rem 2rem 2rem
}

.spotlight__header {
  color: #26A69A
}

.spotlight__header--prefix {
  color: #424242
}

.spotlight__link-to {
  border-bottom: 2px solid
}

.spotlight__description {
  margin-bottom: 0
}

.root__hr {
  margin: 0px auto 3rem auto;
  color: #EEEEEE
}

.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em
}

.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB
}

.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0
}

.top-ten__creator {
  color: slategrey
}

.alert {
  color: #856404;
  background-color: #fff3cd;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb
}
